# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto stuff
/.quarto/
/.luarc.json
**/*_cache/*
_site/
_freeze/
manuscript/output/
manuscript/manuscript.tex
manuscript/submissions/
*.ent
manuscript/*_files/
manuscript/*.html.md
manuscript/*.pdf.md
manuscript/*.docx.md
manuscript/*.odt.md

# Misc stuff
admin/*

# Targets stuff
_targets
_targets.yaml

# Data stuff
data/raw_data/
data/manual_data/
data/derived_data/
